.tickets-page {
  padding-bottom : 110px;
}

.tickets-page:after {
  content : "";
  display : table;
  clear   : both;
}

.tickets-page__header {
  text-align : center;
}

.tickets-page__instruments {
  display : block;
  float   : left;
}

.tickets-page__tickets {
  display : block;
  float   : right;
}

.tickets-page-logo {
  padding : 25px;
}
